<html>
    <head>
        <title>로그인 페이지</title>
        <meta charset="utf-8" >
    </head>
    <body>
        로그인 페이지<br/>
        <hr/>

        {% if form.errors %}
        <p>ID나 비밀번호가 일치하지 않습니다.</p>
        {% endif %}

         <form name="login_form" method="post" action="{% url 'index' %}">
         {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            {{ form.as_p }}
            <button type="submit">로그인</button>
        </form>

    </body>
</html>
